@keyframes ProjectDiv {
  0% {
    padding: 1%;
  }
}
.project {
  text-align: center;
  margin: 0 0rem 0 0rem;
  height: 100%;
  position: relative;
}

.projectLocation {
  font-size: 10px !important;
  margin: 0 !important;
  text-transform: uppercase;
}

.projectHeading {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  padding-left: 1rem;
  font-size: 30px;
  animation: myfirst 5s 1;
  width: 100%;
  margin-bottom: 0;
  color: var(--buttonPriColor);
}

.col-sm-project {
  margin: 0 0 2rem 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

.project-icon {
  color: white !important;
  background-color: var(--buttonPriColor) !important;
  padding: 0 0.5rem 0 0.5rem;
  box-shadow: 2px 2px 2px black;
  border-radius: 10%;
}

.project-icon:hover {
  color: white !important;
  background-color: var(--buttonPriColor) !important;
  box-shadow: 1px 1px 1px black;
}
.card {
  margin: 2rem;
  border: var(--webAccentColor) 1px solid;
  background-color: var(--projectbackground);
  color: black;
  height: 100%;
}

.card-text {
  text-align: left;
}

.card:hover {
  background-color: var(--projectbackgroundHover);
}

.card-header {
  border-bottom: 1px solid var(--buttonPriColor);
  background-color: white;
  color: black;
  font-size: 20px !important;
  font-weight: 900;
  letter-spacing: 2px;
}

.card-footer {
  border-top: var(--webAccentColor) 1px solid;
  background-color: white;
  font-weight: 900;
  border-top: 1px solid var(--buttonPriColor);
}

.btn-primary {
  background-color: var(--buttonPriColor) !important;
  border-color: var(--buttonPriColor) !important;
  color: white !important;
  letter-spacing: 2px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: white !important;
}

.btn-primary:hover {
  background-color: var(--appstartColor) !important;
}

@media screen and (max-width: 600px) {
  .card {
    margin: 2rem;
    border: var(--webAccentColor) 1px solid;
    background-color: var(--projectbackground);
    color: black;
    height: 100%;
  }

  .projectHeading {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--webAccentColor);
    font-size: 24px;
    animation: myfirst 5s 1;
    width: 100%;
    margin-bottom: 0;
  }
}
