.project-box{
  margin-top: 8em;
}
.project-container{
  background-color: #ffffff;
  color: #000;
  text-align: justify;
  padding: 20px;
  border-radius: 20px; 
  margin: 20px auto; 
  width: 90%;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2px;
  background-color: #000000;
  border-radius: 10px;
  width: 500px;
  font-size: 14px;
  margin: 2em;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 1px 1px 15px gray;
}

.project-name{
  color: var(--scoll-color);
}

.project-link:hover{
  transform: scaleX(1.1);
}

.project-details{
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  height: 18em;
}

.project-tech{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1em;
  justify-content: space-around;
  font-size: 16px;
  color: #ffffff;
  font-weight: bolder;
}

.tech-name{
  margin: 5% 0 0 0;
  text-align: center;
  margin: 2% 0 2% 0;
  letter-spacing: 1px;
}

.project-link{
  float: right;
  color: var(--scoll-color) !important;
  font-size: 14px;
  text-decoration: underline;
}

.project {
  text-align: center;
  margin: 0 0rem 0 0rem;
  height: 100%;
  position: relative;
}

.projectLocation {
  font-size: 10px !important;
  margin: 0 !important;
  text-transform: uppercase;
}

.projectHeading {
  padding-bottom: 1em;
  font-size: 36px;
  color: var(--nameColor);
}

.col-sm-project {
  margin: 0 0 2rem 0 !important;
  padding: 0 !important;
  height: 100% !important;
}

.accordian-project-link{
  color: var(--scoll-color);
  margin: 1em 0 1em 0;
}

.project-icon{
  font-size: 18px !important;
}
.small-screen-project{
  display: none;
}

.accordian-container{
  text-align: center;
  align-items: center;
}

.accordion{
  text-align: left;
  align-items: center;
}

.accordion-button{
  background-color: transparent;
  border: none;
  color: var(--scoll-color);
  width: 100%;
  text-align: left;
}

.collapsing{
  text-align: center;
  align-items: center;
}

.collapse.show{
  text-align: center;
  align-items: center;
}

.accordian-project-tech{
  font-weight: bolder;
  color: var(--scoll-color);
}

.accordion-header{
  width: 20em;
  font-size: 18px;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-body{
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  text-align: justify;
  width: 20em;
}

.accordion-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-arrow {
  position: absolute;
  right: 2.5em;
}


@media (max-width: 1050px){

  .project-container{
    margin-top: 8em;
    padding: 5px;
    width: 100%; 
  }

  .card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 300px;
  }

  .project-details{
    padding: 20px;
    height: 30em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-link{
    position: relative;
  }
  
}


@media (max-width: 600px){

  .card-container{
    display: none;
  }

  .project-arrow {
    position: absolute;
    right: 2.5em;
  }

  .project-tech {
    display: none;
  }

  .small-screen-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-link{
    margin-top: 0.5em;
  }
}

@media (max-width: 380px){
  .card-container{
    display: none;
  }

  .project-tech {
    display: none;
  }

  .project-arrow {
    position: absolute;
    right: 3.5em;
  }

  .small-screen-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .accordion-header{
    width: 18em;
    font-size: 16px;
    padding: 1em;
  }

  .accordion-body{
    width: 18em;
    font-size: 16px;
    padding: 1em;
  }

  .project-link{
    margin-top: 0.5em;
  }
}