:root {
  --webBorder: #57697b;
}

.skills {
  background-image: linear-gradient(var(--endColor), var(--startColor));
  text-align: center;
  margin: 0 0rem 0 0rem;
  height: 100%;
  position: relative;
}

.skills-row {
  margin-right: "0.9rem";
}

.list-group-item {
  border: 1px solid var(--webAccentColor);
  background-color: transparent;
  color: white;
  font-size: 18px;
  animation: skilsList 5s 1;
  padding: 1rem 5rem 1rem 5rem;
  letter-spacing: 3px;
  font-weight: 500;
}

.list-group {
  margin: 1.5rem 3rem 3rem 3rem;
  border-radius: 2%;
}

.list-head {
  color: var(--buttonPriColor);
  font-size: 24px;
  font-weight: 900;
  padding: 0.5rem;
  animation: skillHead 5s 1;
  letter-spacing: 5px;
}

.skillHeading {
  color: var(--buttonPriColor);
  font-size: 30px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 6.5rem;
  padding-bottom: 2.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 0 0 0 !important;
  background-color: transparent;
  color: black;
  letter-spacing: 15px;
}

.col-sm-skills {
  border-radius: 2rem !important;
}

.col-sm {
  margin: 1.5em;
  padding: 0 !important;
}

.row {
  margin: 0 0 0 0;
}

@media screen and (max-width: 600px) {
  .skills {
    background-image: linear-gradient(var(--endColor), var(--startColor));
    text-align: center;
    margin: 0 0rem 0 0rem;
    height: 100%;
    position: relative;
  }

  .skillHeading {
    text-align: center;
    padding-top: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--buttonPriColor);
    font-size: 24px;
    animation: myfirst 5s 1;
    width: 100%;
    margin-bottom: 0;
  }

  .col-sm {
    margin: 5px 0 0 0;
    padding: 0 !important;
  }

  .list-group-item {
    border: 1px solid var(--webAccentColor);
    background-color: transparent;
    color: white;
    font-size: 14px;
    animation: skilsList 5s 1;
    padding: 1rem 5rem 1rem 5rem;
    letter-spacing: 3px;
    font-weight: 500;
  }

  .list-head {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 0.5rem;
    animation: skillHead 5s 1;
    letter-spacing: 3px;
  }
}
