.navbar-brand {
  /* color: #ffc107 !important; */
  font-size: 1.5vw;
}

.fixed-top {
  padding-bottom: 1rem !important;
}
.navbar-toggler {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler-icon {
  background-color: #000;
}

.navbar {
  background-color: var(--scoll-color) !important;
  margin: 0 0rem 0rem 0rem;
  text-align:  center;
  align-items: center;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.greeting {
  float: left;
}

.about-page-icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.3em;
  width: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.social-icon a {
  text-decoration: none;
}

.about-page-icon:hover {
  transform: scale(0.9); 
  color: #000;
}

.nav-brand-image {
  border-radius: 100% !important;
}

.nav-link {
  font-weight: bold !important;
  letter-spacing: 5px;
  color: #fff !important;
  font-size: 16px !important;
}

.nav-link:hover {
  color: #000 !important;
  font-weight: 900 !important;
}

.navbar-collapse {
  text-align: center;
}

.resume-button{
  background-color: black;
}

@media (max-width: 768px) {
  .social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .navbar-collapse {
    text-align: center;
    align-items: center;
  }
  .nav-link {
    font-size: 1em;
    text-align: center;
  }
  .social-icon {
    display: none;
  }
  .about-page-icon {
    margin-top: 1em;
    display: none;
  }
}

.navbar-toggler {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler-icon {
  background-color: transparent;
  border: none;
  position: relative;
  width: 24px;
  height: 24px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon div {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: transparent; /* Custom color for the lines */
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navbar-toggler-icon::before {
  top: 2px;
}

.navbar-toggler-icon div {
  top: 1px;
}

.navbar-toggler-icon::after {
  top: 10px;
}
