.time {
  /* height: 100%; */
  margin: 0 0 0 0;
  /* border-right: var(--webAccentColor) 10px solid;
  border-left: var(--webAccentColor) 10px solid; */
  /* border-top: white 5px solid; */
  /* border-bottom: white 5px solid; */
  position: relative;
  background-image: linear-gradient(var(--endColor), var(--startColor));
}

.timelineHeading {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--buttonPriColor);
  font-size: 30px;
  animation: myfirst 5s 1;
  width: 100%;
  margin-bottom: 0;
}

.year {
  /* background: white; */
  padding: 0;
  margin: 0 0 0 0;
  /* border-top: var(--webAccentColor) solid 5px; */
  border-bottom: var(--buttonPriColor) solid 5px;
  /* border-right: var(--webAccentColor) solid 5px; */
  color: white;
  text-align: right;
  font-size: 20px;
  font-weight: 100 !important;
  letter-spacing: 10px;
  /* width: 50%; */
}

.time-description {
  padding: 0rem 0rem 0 0rem;
  margin: 0 0 0 0;
  /* background-color: rgba(225, 225, 0, 0.2); */

  color: white;
  text-align: left;
  font-size: 18px;
  letter-spacing: 2px;

  /* border-left: white 3px solid; */
}

.month {
  padding: 0 0 0 0;
  margin: 3rem 0 0 0;
  font-size: 14px;
  color: black;
  text-align: left;
  letter-spacing: 3px;
  /* border-left: white 3px solid; */
}

.location {
  padding: 0 0 0 0;
  margin: 0 0 2rem 0;
  font-size: 14px;
  color: black;
  text-align: left;
  letter-spacing: 3px;
  /* border-left: white 3px solid; */
}

.month-between {
  padding: 0 0 0 0;
  margin: 0;
  font-size: 14px;
  color: black;
  text-align: left;
  letter-spacing: 3px;
}

.institute-name {
  font-size: 20px;
  font-weight: 700;
  text-decoration: unset;
  color: white;
}

.fa-graduation-cap,
.fa-briefcase {
  margin-left: 1rem;
}

.fa-graduation-cap:hover,
.fa-briefcase:hover {
  margin-left: 1rem;
  color: white !important;
}

.row {
  padding: 0 !important;
}
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11 {
  padding: 0 !important;
  margin: 0 !important;
}

.school-year {
  top: 10%;
  left: 0;
  right: 50%;
}

.school-name {
  top: 15%;
  left: 0;
  right: 0;
}

.jecrc-year {
  top: 20%;
  left: 50%;
  right: 0;
}

.jecrc-name {
  top: 25%;
  left: 0;
  right: 0;
}

.jks {
  top: 30%;
  left: 0;
  right: 50%;
}

.jks-description {
  top: 35%;
  left: 0;
  right: 0;
}
.jerec-end {
  top: 40%;
  left: 50%;
  right: 0;
}

.jecrc-end-description {
  top: 45%;
  left: 0;
  right: 0;
}

.neu-year {
  top: 50%;
  left: 0;
  right: 50%;
}

.neu-description {
  top: 55%;
  left: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  /* .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6 {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 50% !important;
  } */

  .year {
    /* background: white; */
    padding: 0;
    margin: 0 0 0 0;
    /* border-top: var(--webAccentColor) solid 5px; */
    border-bottom: var(--buttonPriColor) solid 5px;
    /* border-right: var(--webAccentColor) solid 5px; */
    color: white;
    text-align: right;
    font-size: 18px;
    font-weight: 500 !important;
    letter-spacing: 10px;
    width: 50%;
  }

  .time-description {
    padding: 0rem 0rem 0.5rem 0rem;
    margin: 0;

    color: white;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    width: 100 !important;
  }
  .institute-name {
    font-size: 18px;
    font-weight: 900;
  }
  .timelineHeading {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--webAccentColor);
    font-size: 24px;
    animation: myfirst 5s 1;
    width: 100%;
    margin-bottom: 0;
  }
  .month {
    padding: 3rem 0 0 0;
    margin: 0;
    font-size: 14px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    /* border-left: white 3px solid; */
  }

  .month-between {
    padding: 0 0 0 0;
    margin: 0;
    font-size: 14px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
  }

  .location {
    padding: 0 0 0 0;
    margin: 0 0 1.5rem 0;
    font-size: 14px;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    /* border-left: white 3px solid; */
  }
}
