.container {
  position: relative;
  text-align: center;
  color: white;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #f2c335 !important;
  background-color: #f2c335;
}

@keyframes myfirst {
  0% {
    transform: scaleX(0.9);
  }
}

@keyframes mySecond {
  0% {
  }
}

.lead {
  padding: 0;
  margin: 0 0 0 0;
  color: var(--appendColor);
  animation: mySecond 5s 1;
  text-align: center;
  letter-spacing: 5px;
}

.social-media-icon-home {
  padding: 0;
  margin: 3rem 0 0 0;
  color: black;
  animation: mySecond 5s 1;
  text-align: center;
  letter-spacing: 5rem;
}

.fa-ater-name {
  color: var(--projectbackground) !important;
}

.head-name {
  background: transparent;
  padding: 0rem 1rem 1.5rem 1rem;
  margin: 3rem 0 0 0;
  color: white;
  animation: myfirst 5s 1;
  text-align: center;
  letter-spacing: 30px;
}

.name {
  font-size: 50px;
  font-weight: 900;
}

.col-sm-left {
  background-color: black;
  text-align: right;
  border-left: #f29b9b solid 2px;
}

.col-sm-right {
  background-color: black;
  text-align: left;
  border-right: #f29b9b solid 2px;
}

.h1-left {
  margin-top: 3rem;
  font-size: 5vw;
  background-color: black;
  border: 1px solid #f29b9b;
}

.h1-comman {
  color: white;
}

.web-link {
  display: inline;
  margin: 1rem;
  font-size: 3vh;
}

.h1-right {
  margin-top: 3rem;
  font-size: 5vw;
  background-color: black;
}

.checkIng {
  width: 100%;
}

.about {
  text-align: center;
  margin: 0 0rem 0 0rem;
  height: 100vh;
}

.fa-angle-double-down {
  margin-top: 2rem;
}

.role {
  font-size: 3vw;
  color: #c06c84;
}

.btn-block {
  background-color: #f8b195 !important;
}

.btn-block:hover {
  background-color: #6c5b7b !important;
}

.card {
  margin-top: 4rem;
}

.profileImg {
  width: 280px;
  height: 280px;
  margin: 5rem 0 0 0;
  border-radius: 5%;
  box-shadow: 5px 5px 10px black;
}

@media screen and (max-width: 1024px) {
  .about {
    background-image: linear-gradient(var(--startColor), var(--endColor));
    text-align: center;
    margin: 0 0rem 0 0rem;
    height: 100%;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  .about {
    background-image: linear-gradient(var(--startColor), var(--endColor));
    text-align: center;
    margin: 0 0rem 0 0rem;
    height: 90vh;
    position: relative;
  }

  .profileImg {
    width: 200px;
    height: 200px;
    margin: 2rem 0 0 0;
    border-radius: 5%;
    border: 1px solid white;
    box-shadow: 0px 0px 0px black;
  }

  .lead {
    padding: 0;
    margin: 2.5rem 0 0 0;
    color: var(--appendColor);
    animation: mySecond 5s 1;
    text-align: center;
    letter-spacing: 0px;
  }

  .social-media-icon-home {
    padding: 0;
    margin: 2.5rem 0 0 0;
    color: black;
    animation: mySecond 5s 1;
    text-align: center;
    letter-spacing: 1rem;
  }

  .fa-ater-name {
    color: var(--projectbackground) !important;
  }

  .head-name {
    padding: 0rem 0rem 0rem 0rem;
    margin: 3rem 0 0 0;
    color: white;
    animation: myfirst 5s 1;
    text-align: center;
    letter-spacing: 10px;
  }

  .name {
    font-size: 24px;
    font-weight: 100;
  }
}

@media screen and (max-width: 350px) {
  .about {
    background-image: linear-gradient(var(--startColor), var(--endColor));
    text-align: center;
    margin: 0 0rem 0 0rem;
    height: 80vh;
    position: relative;
  }

  .profileImg {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 2%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px black;
  }

  .lead {
    padding: 0;
    margin: 2rem 0 0 0;
    color: var(--appendColor);
    animation: mySecond 5s 1;
    text-align: center;
    letter-spacing: 0px;
  }

  .social-media-icon-home {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    color: black;
    animation: mySecond 5s 1;
    text-align: center;
    letter-spacing: 20px;
  }

  .fa-ater-name {
    color: var(--projectbackground) !important;
  }

  .head-name {
    background: transparent;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0 0 0 0;

    position: absolute;
    top: 10%;
    left: 0;

    right: 0;
    width: 100%;

    color: white;

    animation: myfirst 5s 1;
    text-align: center;
    letter-spacing: 8px;
  }

  .name {
    font-size: 24px;
    font-weight: 100;
  }
}
